{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2>
{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}
{% if success %}
    <div style="color:green;">{{ success }}</div>
{% endif %}
<form method="post">
    <label>Old password:</label>
    <input type="password" name="old_password" required><br>
    <label>New password:</label>
    <input type="password" name="new_password" required><br>
    <input type="submit" value="Change password">
</form>
{% endblock %}